#
# Alces Prime
#
<VirtualHost *:80>
  RewriteEngine On

  RewriteRule ^/ganglia/.*$ - [PT]
  RewriteRule ^/ganglia$ - [PT]
  RewriteRule ^/nagios$ /nagios/ [R=301]
  RewriteRule ^/nagios/.*$ - [PT]
  RewriteRule ^/cobbler/?.*$ - [PT]
  RewriteRule ^/cblr/?.*$ - [PT]

  RewriteRule ^/alces/?.*$ - [PT]
  RewriteRule ^/icons/?.*$ - [PT]
  RewriteRule ^/error/?.*$ - [PT]

  Alias /corosync /var/www/html/corosync
  RewriteRule ^/corosync/?.*$ - [PT]

  ErrorDocument 503 "<h1>Currently unavailable</h1><p>Sorry, Alces Prime is currently unavailable &mdash; please try again in a few moments.</p><p>If this problem persists, please contact your system administrator.</p>"

  DocumentRoot "/opt/alces/tools/alces-prime/public"
  <Directory /opt/alces/tools/alces-prime/public>
    Options FollowSymLinks
    AllowOverride All
    Order deny,allow
    Deny from all
    Allow from 127.0.0.1
    Allow from ::1
    Allow from all
  </Directory>

  RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_FILENAME} !-f
  RewriteRule ^/(.*)$ http://127.0.0.1:25237/$1 [P]
</VirtualHost>
